<h1><%= params["team"]["name"] %></h1>
<h2>Team Motto: <%= params["team"]["motto"] %></h2><br>
<h2>Hero Name: <%= params["team"]["members"][0]["name"] %></h2>
<p>Hero Power: <%= params["team"]["members"][0]["power"] %></p>
<p>Hero Biography: <%= params["team"]["members"][0]["bio"] %></p>
